.display-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sublevelOne-container{
    width: 100%;
    text-align: center;
}

.sublevelTwo-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.card img {
    width: 250px;
}