<nav class="nav-bar">
  <div class="title">
   <a [routerLink]="['/home']"><h2>El Baratón</h2></a>
    <div (click)="showCategories()" class="categorie-div">
      <p>Categorías</p>
      <i class="fas fa-angle-down show-arrow" id="arrowDown"></i>
      <i class="fas fa-angle-up hidden-arrow" id="arrowUp"></i>
    </div>
  </div>
  <div class="cart-div">
    <i class="fas fa-shopping-cart"></i>
    <p>Carrito</p>
  </div>
</nav>
<div id="container-subdiv" class="container hide" style="display:none">
  <div *ngFor="let categorie of menu.categories" class="categories-subdiv">
    <a [routerLink]="['/categorie', categorie.id]">{{categorie.name}}</a>
    <ul *ngFor="let subcategorie of categorie.sublevels">
      <li>{{subcategorie.name}}</li>
      <ul *ngFor="let subcategorieTwo of subcategorie.sublevels">
        <li>{{subcategorieTwo.name}}</li>
        <ul *ngFor="let subcategorieThree of subcategorieTwo.sublevels">
          <li>{{subcategorieThree.name}}</li>
        </ul>
      </ul>
    </ul>
  </div>
</div>